@charset "UTF-8";

.list-group-root {
    padding: 0;
    overflow: none;
}

.list-group  {
    border-radius:  0;
    border: 1px solid lightgrey;
    border-width: 0 0 2px 2px;
}

.list-group-root .list-group {
    padding-left: 15px;
}

.item-p {
    margin: 0;
    position: relative;
}

.item-p > span {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

#reset-filter {
    background-color: #dd4b39;
    border-color: #d73925;
    color: #fff;
}